<div class="wrapper">
  <div class="content">
    <div class="content__item1">
      <h1 id="title">
        BAUSTOFF
      </h1>
      <h1 id="title__mobile">
        BAUSTOFF
      </h1>
    </div>
    <div class="content__item2">
      <!--<img id="cover_img" src="../../assets/landing.jpg" alt="cover_img" />-->

      <iframe
      width="100%"
      height="100%"
      src="https://www.youtube.com/embed/O_XzrT_n_Tk?controls=0&autoplay=true"
      frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>

  <div class="nav-container">
    <ul id="nav">
      <li><a routerLink="/home" routerLinkActive="active">home</a></li>
      <li><a routerLink="/stills">stills</a></li>
      <li><a routerLink="/profile">profile</a></li>
      <li><a routerLink="/contact">contact</a></li>
    </ul>
  </div>
</div>
